*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# OS X stuff
*.DS_Store

# End of https://www.gitignore.io/api/python

_temp_extension
junit.xml
[uU]ntitled*
notebook/static/*
!notebook/static/favicons
notebook/labextension
notebook/schemas
docs/source/changelog.md
docs/source/contributing.md

# playwright
ui-tests/test-results
ui-tests/playwright-report

# VSCode
.vscode

# RTC
.jupyter_ystore.db

# yarn >=2.x local files
.yarn/*
.pnp.*
ui-tests/.yarn/*
ui-tests/.pnp.*

# venv
.ppvenv/*
.ppvenv/bin/*
.ppvenv/include/*
.ppvenv/lib/*
.ppvenv/lib64/*
.ppvenv/share/*
.ppenv/lib64
.ppenv/pyvenv.cfg
.ppenv/bin/activate
.ppenv/bin/activate.csh
.ppenv/bin/activate.fish
.ppenv/bin/Activate.ps1
.ppenv/bin/ale-import-roms
.ppenv/bin/AutoROM
.ppenv/bin/convert-caffe2-to-onnx
.ppenv/bin/convert-onnx-to-caffe2
.ppenv/bin/debugpy
.ppenv/bin/f2py
.ppenv/bin/fonttools
.ppenv/bin/ipython
.ppenv/bin/ipython3
.ppenv/bin/isympy
.ppenv/bin/jupyter
.ppenv/bin/jupyter-kernel
.ppenv/bin/jupyter-kernelspec
.ppenv/bin/jupyter-migrate
.ppenv/bin/jupyter-run
.ppenv/bin/jupyter-troubleshoot
.ppenv/bin/markdown_py
.ppenv/bin/markdown-it
.ppenv/bin/normalizer
.ppenv/bin/numba
.ppenv/bin/numpy-config
.ppenv/bin/pip
.ppenv/bin/pip3
.ppenv/bin/pip3.11
.ppenv/bin/proton
.ppenv/bin/proton-viewer
.ppenv/bin/pyftmerge
.ppenv/bin/pyftsubset
.ppenv/bin/pygmentize
.ppenv/bin/python
.ppenv/bin/python3
.ppenv/bin/python3.11
.ppenv/bin/tensorboard
.ppenv/bin/torchrun
.ppenv/bin/tqdm
.ppenv/bin/ttx
.ppenv/include/site/python3.11/pygame/_blit_info.h
.ppenv/include/site/python3.11/pygame/_camera.h
.ppenv/include/site/python3.11/pygame/_pygame.h
.ppenv/include/site/python3.11/pygame/_surface.h
.ppenv/include/site/python3.11/pygame/camera.h
.ppenv/include/site/python3.11/pygame/font.h
.ppenv/include/site/python3.11/pygame/freetype.h
.ppenv/include/site/python3.11/pygame/mask.h
.ppenv/include/site/python3.11/pygame/mixer.h
.ppenv/include/site/python3.11/pygame/palette.h
.ppenv/include/site/python3.11/pygame/pgarrinter.h
.ppenv/include/site/python3.11/pygame/pgbufferproxy.h
.ppenv/include/site/python3.11/pygame/pgcompat.h
.ppenv/include/site/python3.11/pygame/pgopengl.h
.ppenv/include/site/python3.11/pygame/pgplatform.h
.ppenv/include/site/python3.11/pygame/pygame.h
.ppenv/include/site/python3.11/pygame/scrap.h
.ppenv/include/site/python3.11/pygame/simd_blitters.h
.ppenv/include/site/python3.11/pygame/surface.h
.ppenv/include/site/python3.11/pygame/include/_pygame.h
.ppenv/include/site/python3.11/pygame/include/bitmask.h
.ppenv/include/site/python3.11/pygame/include/pgcompat.h
.ppenv/include/site/python3.11/pygame/include/pgimport.h
.ppenv/include/site/python3.11/pygame/include/pgplatform.h
.ppenv/include/site/python3.11/pygame/include/pygame_bufferproxy.h
.ppenv/include/site/python3.11/pygame/include/pygame_font.h
.ppenv/include/site/python3.11/pygame/include/pygame_freetype.h
.ppenv/include/site/python3.11/pygame/include/pygame_mask.h
.ppenv/include/site/python3.11/pygame/include/pygame_mixer.h
.ppenv/include/site/python3.11/pygame/include/pygame.h
.ppenv/include/site/python3.11/pygame/include/sse2neon.h
.ppenv/share/jupyter/kernels/python3/kernel.json
.ppenv/share/jupyter/kernels/python3/logo-32x32.png
.ppenv/share/jupyter/kernels/python3/logo-64x64.png
.ppenv/share/jupyter/kernels/python3/logo-svg.svg
.ppenv/share/man/man1/ipython.1
.ppenv/share/man/man1/isympy.1
.ppenv/share/man/man1/ttx.1
.ppenv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/39.1949673a9fd9c144c15b.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/327.68dbf8491690b3aff1e7.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/420.68e690774ec05e4e9665.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js.LICENSE.txt
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/446.fdf8b1b233cb8c1783f6.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/586.f9a8b8b4dd029695640b.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/647.e39f528c8fee8adb9110.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js.LICENSE.txt
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/701.043aefe0b66133629348.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/722.3fefeac9cae358348cbc.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/727.2abc0b27bd0932fb5f81.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/898.402374e73a78886eba74.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.5586bbdee77c5d90dd3c.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
.ppenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
.ppenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
.ppenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
.ppenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
Panda_freqPanda_hor2048_learn0.001_episodes200_controlOSC_POSE/PPO_1/events.out.tfevents.1723447148.tobi-desktop.684.0
.venv/lib64
.venv/pyvenv.cfg
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/Activate.ps1
.venv/bin/ale-import-roms
.venv/bin/AutoROM
.venv/bin/convert-caffe2-to-onnx
.venv/bin/convert-onnx-to-caffe2
.venv/bin/debugpy
.venv/bin/f2py
.venv/bin/fonttools
.venv/bin/ipython
.venv/bin/ipython3
.venv/bin/isympy
.venv/bin/jupyter
.venv/bin/jupyter-kernel
.venv/bin/jupyter-kernelspec
.venv/bin/jupyter-migrate
.venv/bin/jupyter-run
.venv/bin/jupyter-troubleshoot
.venv/bin/markdown_py
.venv/bin/markdown-it
.venv/bin/normalizer
.venv/bin/numba
.venv/bin/pip
.venv/bin/pip3
.venv/bin/pip3.11
.venv/bin/proton
.venv/bin/proton-viewer
.venv/bin/pyftmerge
.venv/bin/pyftsubset
.venv/bin/pygmentize
.venv/bin/python
.venv/bin/python3
.venv/bin/python3.11
.venv/bin/tensorboard
.venv/bin/torchrun
.venv/bin/tqdm
.venv/bin/ttx
.venv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
.venv/include/site/python3.11/pygame/_blit_info.h
.venv/include/site/python3.11/pygame/_camera.h
.venv/include/site/python3.11/pygame/_pygame.h
.venv/include/site/python3.11/pygame/_surface.h
.venv/include/site/python3.11/pygame/camera.h
.venv/include/site/python3.11/pygame/font.h
.venv/include/site/python3.11/pygame/freetype.h
.venv/include/site/python3.11/pygame/mask.h
.venv/include/site/python3.11/pygame/mixer.h
.venv/include/site/python3.11/pygame/palette.h
.venv/include/site/python3.11/pygame/pgarrinter.h
.venv/include/site/python3.11/pygame/pgbufferproxy.h
.venv/include/site/python3.11/pygame/pgcompat.h
.venv/include/site/python3.11/pygame/pgopengl.h
.venv/include/site/python3.11/pygame/pgplatform.h
.venv/include/site/python3.11/pygame/pygame.h
.venv/include/site/python3.11/pygame/scrap.h
.venv/include/site/python3.11/pygame/simd_blitters.h
.venv/include/site/python3.11/pygame/surface.h
.venv/include/site/python3.11/pygame/include/_pygame.h
.venv/include/site/python3.11/pygame/include/bitmask.h
.venv/include/site/python3.11/pygame/include/pgcompat.h
.venv/include/site/python3.11/pygame/include/pgimport.h
.venv/include/site/python3.11/pygame/include/pgplatform.h
.venv/include/site/python3.11/pygame/include/pygame_bufferproxy.h
.venv/include/site/python3.11/pygame/include/pygame_font.h
.venv/include/site/python3.11/pygame/include/pygame_freetype.h
.venv/include/site/python3.11/pygame/include/pygame_mask.h
.venv/include/site/python3.11/pygame/include/pygame_mixer.h
.venv/include/site/python3.11/pygame/include/pygame.h
.venv/include/site/python3.11/pygame/include/sse2neon.h
.venv/share/jupyter/kernels/python3/kernel.json
.venv/share/jupyter/kernels/python3/logo-32x32.png
.venv/share/jupyter/kernels/python3/logo-64x64.png
.venv/share/jupyter/kernels/python3/logo-svg.svg
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/39.1949673a9fd9c144c15b.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/327.68dbf8491690b3aff1e7.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/420.68e690774ec05e4e9665.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/439.33696bc45fbd403becbb.js.LICENSE.txt
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/446.fdf8b1b233cb8c1783f6.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/586.f9a8b8b4dd029695640b.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/647.e39f528c8fee8adb9110.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/651.fe40a967a60b543cf15c.js.LICENSE.txt
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/701.043aefe0b66133629348.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/722.3fefeac9cae358348cbc.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/727.2abc0b27bd0932fb5f81.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/898.402374e73a78886eba74.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.5586bbdee77c5d90dd3c.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
.venv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
.venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
.venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
.venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
.venv/share/man/man1/ipython.1
.venv/share/man/man1/isympy.1
.venv/share/man/man1/ttx.1
Panda_freqPanda_hor2048_learn0.001_episodes200_controlOSC_POSE/env.pkl
Panda_freqPanda_hor2048_learn0.001_episodes200_controlOSC_POSE/model.zip
Panda_freqPanda_hor2048_learn0.001_episodes200_controlOSC_POSE/PPO_1/events.out.tfevents.1723463083.tobi-desktop.565.0
